HKModInstaller
alacritty/.git_history
alacritty/.git_history
alacritty/.git_history/hooks/post-update.sample
coc
gh
github-copilot
iterm2
jgit
neofetch
nvim/.git_history
nvim.bak
raycast/extensions

wireshark
zed
.DS_Store
memos.json
nvim/.gitignore
alacritty/.gitignore
tmux/plugins
